##
# OpenDNAS PlayStation Authentication Server
##

##
# HTTP Listener http://gate1.*.dnas.playstation.org
##
server {
	listen      80;
	server_name *.dnas.playstation.org;
	access_log  off;
	error_log   off;
	return 301  https://$host$request_uri;
}

##
# HTTPS Listener https://gate1.us.dnas.playstation.org
##
server {
	listen                    443 ssl;
	server_name               gate1.us.dnas.playstation.org;
	ssl_protocols             SSLv2 TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers               "ALL";
	ssl_prefer_server_ciphers on;
	ssl_certificate           /etc/nginx/certs/gate1.us.dnas.playstation.org.cert;
	ssl_certificate_key       /etc/nginx/certs/gate1.us.dnas.playstation.org.key;

	root /var/www/OpenDNAS/public;
	index index.html index.php;

	location / {
                # Serve with or without trailing /
                rewrite ^(.*-gw\/.*v2\.5\_.*[^\/])$ $1/ last;
                try_files $uri $uri/ index.php;
		add_header X-DNAS-Version "OpenDNAS v1.0.0";
		
		location = /index.php {
			fastcgi_index index.php;
			fastcgi_send_timeout 30;
			fastcgi_read_timeout 30;
			fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
			fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
			include fastcgi_params;
		}
	}

	# PHP
	location ~ \.php$ {
		fastcgi_index $uri;
		fastcgi_send_timeout 30;
		fastcgi_read_timeout 30;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
		include fastcgi_params;
	}
}

##
# HTTPS Listener https://gate1.jp.dnas.playstation.org
##
server {
	listen              443 ssl;
	server_name         gate1.jp.dnas.playstation.org;
	ssl_protocols       SSLv2 TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers         "ALL";
	ssl_certificate     /etc/nginx/certs/gate1.jp.dnas.playstation.org.cert;
	ssl_certificate_key /etc/nginx/certs/gate1.jp.dnas.playstation.org.key;

	root /var/www/OpenDNAS/public;
	index index.html index.php;

	location / {
		# Serve with or without trailing /
		rewrite ^(.*-gw\/.*v2\.5\_.*[^\/])$ $1/ last;
		try_files $uri $uri/ index.php;
		add_header X-DNAS-Version "OpenDNAS v1.0.0";
		
		location = /index.php {
			fastcgi_index index.php;
			fastcgi_send_timeout 30;
			fastcgi_read_timeout 30;
			fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
			fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
			include fastcgi_params;
		}
	}

	# PHP
	location ~ \.php$ {
		fastcgi_index $uri;
		fastcgi_send_timeout 30;
		fastcgi_read_timeout 30;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
		include fastcgi_params;
	}
}

##
# HTTPS Listener https://gate1.eu.dnas.playstation.org
##
server {
	listen              443 ssl;
	server_name         gate1.eu.dnas.playstation.org;
	ssl_protocols       SSLv2 TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers         "ALL";
	ssl_certificate     /etc/nginx/certs/gate1.eu.dnas.playstation.org.cert;
	ssl_certificate_key /etc/nginx/certs/gate1.eu.dnas.playstation.org.key;

	root /var/www/OpenDNAS/public;
	index index.html index.php;

	location / {
		# Serve with or without trailing /
		rewrite ^(.*-gw\/.*v2\.5\_.*[^\/])$ $1/ last;
		try_files $uri $uri/ index.php;
		add_header X-DNAS-Version "OpenDNAS v1.0.0";
		
		location = /index.php {
			fastcgi_index index.php;
			fastcgi_send_timeout 30;
			fastcgi_read_timeout 30;
			fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
			fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
			include fastcgi_params;
		}
	}

	# PHP
	location ~ \.php$ {
		fastcgi_index $uri;
		fastcgi_send_timeout 30;
		fastcgi_read_timeout 30;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
		include fastcgi_params;
	}
}

